{{!< default}}

{{#post}}

    {{> post-meta}}

    <article class="wrapper" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        <div class="article-blur" id="blur" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}></div>
        <div class="container">
            <header>
                <h1 class="title">{{title}}</h1>
                <h2 class="caption">
                    Posted on <time datetime="{{date format='YYYY-MM-DD'}}">{{date format='MMMM DD, YYYY'}}</time>{{#if tags}} under {{tags}}{{/if}}.
                </h2>
            </header>
            <div class="content">
                {{content}}
            </div>
        </div>
    </article>

    <div class="meta wrapper clearfix">
        <div class="container">
           

            

        </div>

    </div>

    {{> featured}}

{{/post}}
